.pio
.vscode/.browse.c_cpp.db*
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/ipch
doc/Thumbs.db
doc/putty.log
doc/ollama.txt
doc/IMU_Test_Position.jpg
doc/IMU_test_1.txt
Thumbs.db
doc/ohne_haube.log
doc/mit Haube.log
doc/AussenTest_mit_1mm_Loch.log
doc/AussenTest_1mm_kein Loch.log
doc/Air_hut.jpg
doc/20260419_113217.jpg
doc/2mm_loch.log
doc/1mm_loch.log
doc/1mm_Loch_und_Klebeband.log
doc/putty_1.log
.gitignore
doc/putty_Aussen_TemperaturKompensation_1.log
doc/putty_Aussen_TemperaturKompensation_2.log
doc/putty_Aussentest.log
doc/putty_Option_A.log
doc/putty_Option_B _0,6.log
doc/putty_Option_B_0,4.log
doc/putty_Option_B_0,5.log
doc/putty_AccuTest_1.log
doc/putty_AccuTest_2.log
doc/putty_Keybord_Test1.log
doc/putty_neue Comm_Test1.log
doc/putty_Zeiten_verkürzt.txt
doc/putty_Aussen_Normal_test2.log
doc/Leg.20260520-113134.FCBak
doc/Leg.FCStd
doc/Leg-BodyPad.stl
test/ICM20948_Test/ICM20948_Test.ino
